/* TODO: insert styles here */
h1{
  text-align: center;
  font-family: 'Lato' , sans-serif;
  color: black;
}

h2{
  font-family: 'Roboto Condensed' , sans-serif;
  font-weight: bold;
  text-align: left;
  color: white;
  padding-left: 5px;
}

h3{
  font-family: 'Roboto Mono', monospace;
}

p{
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  justify-content: space-around;
}
 .blue_box{
   width: 40%;
   display: inline-block;
   vertical-align: top;
   border-color: blue;
   border-style: solid;
   border-width: 3px;
 }

 .red_box{
   width: 40%;
   display: inline-block;
   vertical-align: top;
   border-color: red;
   border-style: solid;
   border-width: 3px;
 }

 .red_title_box {
   background-color: red;
 }

 .blue_title_box{
   background-color: blue;
 }

 h2 {
   margin: 0;
 }

.blue_box h3{
  color: blue;
}

.upper_box div{
  background-color: white;
}

.upper_box{
  padding-left: 5px;
}

.lower_box {
  padding-left: 5px;
  border-top: solid;
  border-color: blue;
}
.remote_box{
  padding-left: 5px;
}
.remote_box h3{
  color: red;
}
@media screen and (max-width: 800px) {
  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  .blue_box {
    margin-bottom: 20px;
    width: 90%;
  }

  .red_box {
    width: 90%;
  }
}
